---
layout: default
unwrapped: true
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

<section id="call-to-action">
  <div class="wrapper">
    <img src="{{ "/assets/wasm-ferris.png" | relative_url }}"/>
    <h2>Learn Rust and WebAssembly</h2>
    <p>
      <a href="docs.html">Read the Rust and WebAssembly documentation</a> to
      learn how to design, develop, test, debug, profile, and publish Rust and
      WebAssembly libraries and applications.
    </p>
    <h2>Get Involved</h2>
    <p>
      <a href="https://github.com/rustwasm/team/blob/master/README.md#get-involved">Join the Rust and WebAssembly domain working group!</a> Help us craft the future of Rust and WebAssembly.
    </p>
  </div>
</section>

<div class="wrapper">
  {{ content }}
</div>
